/* TODO
Button colors on click, 
test with another book,
adding the js

*/

* {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button {
  border-radius: 25px;
  border: none;
  background-color: #0284c7;
  color: white;
  padding: 10px 30px;
  margin: 20px;
  width: fit-content;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

main {
  background-color: #dae2eb;
  flex: 1;
  padding: 20px;
}

main h1 {
  margin-bottom: 30px;
}

.library {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.book {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.book div:first-child {
  font-weight: bold;
}

.book div {
  margin-bottom: 10px;
}
