* {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button {
  border-radius: 25px;
  border: none;
  background-color: #0284c7;
  color: white;
  padding: 10px 30px;
  margin: 20px;
  width: fit-content;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

button:active {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.25) inset;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

main {
  background-color: #dae2eb;
  flex: 1;
  padding: 20px;
  z-index: -1;
}

main h1 {
  margin-bottom: 30px;
}

.library {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.book {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.book div:first-child {
  font-weight: bold;
  margin-top: 10px;
}

.book div {
  margin-bottom: 10px;
}

.buttons :not(:last-child) {
  margin-right: 10px;
}

.check:hover {
  color: rgb(0, 255, 0);
}

.delete:hover {
  color: red;
}

.cached:hover {
  color: lightskyblue;
}

.close:hover {
  color: orange;
}

dialog {
  padding: 40px 60px;
  margin: auto;
}

dialog h2 {
  margin-bottom: 20px;
}

dialog p {
  display: flex;
  flex-direction: column;
}

dialog input,
dialog select {
  border-radius: 5px;
  background-color: lightgray;
  border: none;
  padding: 5px;
  font-size: 1em;
  margin-top: 2px;
}

dialog input {
  margin-bottom: 15px;
}

dialog button {
  font-size: 1em;
}

dialog div {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
